Repository bencan1a/space_hulk_game: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, bandit, yamllint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for Space Hulk Game
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        # Exclude game-config YAML to preserve narrative formatting
        exclude: '^game-config/.*\.yaml$'
      - id: end-of-file-fixer
        exclude: '^game-config/.*\.yaml$'
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Use Makefile commands for consistency with CI and local dev
  # These run only on staged files during commit, but same commands as CI/make
  - repo: local
    hooks:
      # Ruff linting with auto-fix
      - id: ruff-check
        name: Ruff linting
        entry: bash -c 'source .venv/bin/activate && make lint-files FILES="$*"'
        language: system
        types: [python]

      # Ruff formatting
      - id: ruff-format
        name: Ruff formatting
        entry: bash -c 'source .venv/bin/activate && make format-files FILES="$*"'
        language: system
        types: [python]

      # MyPy type checking (uses pyproject.toml config)
      - id: mypy
        name: MyPy type check
        entry: bash -c 'source .venv/bin/activate && make type-check-files FILES="$*"'
        language: system
        types: [python]

      # Bandit security scanning (uses pyproject.toml config)
      - id: bandit
        name: Bandit security scan
        entry: bash -c 'source .venv/bin/activate && make security-files FILES="$*"'
        language: system
        types: [python]

      # YAML validation (uses .yamllint config)
      - id: yamllint
        name: YAML validation
        entry: bash -c 'source .venv/bin/activate && make check-yaml-files FILES="$*"'
        language: system
        types: [yaml]

      # Prettier formatting for frontend
      - id: prettier
        name: Prettier formatting (frontend)
        entry: bash -c 'cd frontend && npx prettier --write "$@"'
        language: system
        files: ^frontend/.*\.(ts|tsx|css)$
        pass_filenames: true

fix: correct name formatting for Principal Engineer role
  .github/agents/principal-engineer.md
Due: none

refactor: clean up variable formatting and descriptions in YAML templates
  LINTER_FIX_PLAN.md
  data/templates/artifact_hunt.yaml
  data/templates/horror.yaml
  data/templates/rescue.yaml
Due: yamllint

feat: Upgrade Node.js to version 20 and update frontend dependencies
  .claude/settings.local.json
  .nvmrc
  CONTEXT.md
  NODE_UPGRADE.md
  backend/app/config.py
  backend/pytest.ini
  frontend/.nvmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/minimal.test.ts
  frontend/src/tests/setup.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
  pyproject.toml
  setup.sh
  uv.lock
  verify-node.sh
Due: ruff-check, ruff-format, mypy, bandit, prettier

Update iteration_service.py
  backend/app/services/iteration_service.py
Due: ruff-check, ruff-format, mypy, bandit

feat: enhance Docker setup and API integration for story generation
  CONTEXT.md
  agent-projects/web-interface-design/TASK_3.3b_CREWAI_INTEGRATION.md
  backend/Dockerfile
  backend/app/api/routes/templates.py
  backend/app/api/routes/themes.py
  backend/app/config.py
  backend/entrypoint.sh
  docker-compose.yml
  frontend/src/components/generation/GenerationProgress.tsx
  frontend/src/components/generation/TemplateGallery.module.css
  frontend/src/components/generation/TemplateGallery.tsx
  frontend/src/pages/CreatePage.tsx
  frontend/src/services/api.ts
  frontend/src/services/types.ts
Due: ruff-check, ruff-format, mypy, bandit, yamllint, prettier
