Repository bencan1a/space_hulk_game: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, yamllint

mypy:
  name: MyPy type check
  entry: bash -c 'source .venv/bin/activate && make type-check'
  language: system
  pass_filenames: false

bandit:
  name: Bandit security scan
  entry: bash -c 'source .venv/bin/activate && make security'
  language: system
  pass_filenames: false

yamllint:
  name: YAML validation
  entry: bash -c 'source .venv/bin/activate && make check-yaml'
  language: system
  pass_filenames: false

chore: update MyPy entry for pre-commit hook and add type-check-pre-commit target
  .pre-commit-config.yaml
  Makefile
Due: yamllint

fix: correct string delimiters and improve descriptions in game configuration files
  game-config/narrative_map.yaml
  game-config/plot_outline.yaml
  game-config/prd_document.yaml
  game-config/puzzle_design.yaml
  tests/test_api_validation.py
  tests/test_integration_sequential.py
Due: mypy, bandit, yamllint

feat(yaml): implement Phase 1 - pre-write YAML sanitization pipeline
  game-config/narrative_map.yaml
  game-config/prd_document.yaml
  src/space_hulk_game/crew.py
  src/space_hulk_game/utils/__init__.py
  src/space_hulk_game/utils/output_sanitizer.py
  src/space_hulk_game/validation/corrector.py
  tests/test_corrector.py
  tests/test_output_sanitization.py
Due: mypy, bandit, yamllint

refactor(yaml): Phase 2 Tasks 1&2 - consolidate duplicate implementations
  src/space_hulk_game/crew.py
  src/space_hulk_game/quality/evaluator.py
  src/space_hulk_game/utils/output_sanitizer.py
  src/space_hulk_game/validation/corrector.py
  src/space_hulk_game/validation/validator.py
Due: mypy, bandit

refactor(yaml): Phase 2 Tasks 3&4 - remove redundancy and unify types
  agent-projects/yaml-pipeline-refactor/phase2-plan.md
  src/space_hulk_game/crew.py
  src/space_hulk_game/quality/evaluator.py
  src/space_hulk_game/quality/score.py
  src/space_hulk_game/validation/__init__.py
  src/space_hulk_game/validation/corrector.py
  src/space_hulk_game/validation/types.py
  src/space_hulk_game/validation/validator.py
Due: mypy, bandit

fix(tests): update validator tests and reset corrupted YAML files
  tests/test_validators.py
Due: mypy, bandit

docs: mark YAML pipeline refactor as complete
  agent-projects/yaml-pipeline-refactor/COMPLETE.md
  agent-projects/yaml-pipeline-refactor/plan.md
Due: none

refactor(make): update check-all target to include format and fix lint command
  .claude/settings.local.json
  .pre-commit-config.yaml
  Makefile
Due: yamllint

add explicit utf-8 encoding for windows
  .github/workflows/ci.yml
  .github/workflows/nightly-regression.yml
  tests/conftest.py
  tests/run_chunk_01.py
  tests/run_chunk_02.py
  tests/run_chunk_03.py
  tests/test_api_validation.py
  tests/test_crew_improvements.py
  tests/test_game_engine.py
  tests/test_kloc_report.py
  tests/test_kloc_workflow.py
  tests/test_sequential_5_tasks.py
  tests/test_validators.py
  tests/validate_evaluators_real_files.py
  tools/fix_test_encoding.py
Due: mypy, bandit, yamllint

fix(workflow): streamline API key checks in nightly regression workflow
  .github/workflows/nightly-regression.yml
Due: yamllint

fix(workflow): add OPENAI_MODEL_NAME environment variable for API tests
  .github/workflows/nightly-regression.yml
Due: yamllint

Implement GameEngineerAgent to resolve validation failures in game content
  Makefile
  game-config/narrative_map.json
  game-config/playable_game.json
  game-config/playable_game_test.json
  game-config/plot_outline.json
  game-config/prd_document.json
  game-config/puzzle_design.json
  game-config/scene_texts.json
  project-plans/game-engineer-implementation-complete.md
  project-plans/validation-failure-analysis.md
  src/space_hulk_game/config/agents.yaml
  src/space_hulk_game/config/gamedesign.yaml
  src/space_hulk_game/config/tasks.yaml
  src/space_hulk_game/crew.py
  src/space_hulk_game/engine/loader.py
  test_game_engineer.py
Due: mypy, bandit, yamllint

Update game-config/playable_game.json
  game-config/playable_game.json
Due: none

Update test_game_engineer.py
  test_game_engineer.py
Due: mypy, bandit

Update agent-projects/web-interface-design/ARCHITECTURAL_DESIGN.md
  agent-projects/web-interface-design/ARCHITECTURAL_DESIGN.md
Due: none

Refactor code structure for improved readability and maintainability
  Makefile
  agent-projects/web-interface-design/API_SPECIFICATION.md
  agent-projects/web-interface-design/ARCHITECTURAL_DESIGN.md
  agent-projects/web-interface-design/ARCHITECTURE_WEB_INTERFACE.md
  agent-projects/web-interface-design/CONSOLIDATION_SUMMARY.md
  agent-projects/web-interface-design/GLOSSARY.md
  agent-projects/web-interface-design/IMPLEMENTATION_GUIDE_WEB_INTERFACE.md
  agent-projects/web-interface-design/README.md
  agent-projects/web-interface-design/USER_JOURNEYS_DIAGRAMS.md
  agent-projects/web-interface-design/docs/TESTING_SUMMARY.md
  agent-projects/web-interface-design/docs/adr/001-technology-stack.md
  agent-projects/web-interface-design/docs/crewai-progress-monitoring.md
  agent-projects/web-interface-design/docs/error-handling.md
  agent-projects/web-interface-design/docs/testing-examples/backend-unit-test-example.py
  agent-projects/web-interface-design/docs/testing-examples/e2e-test-example.spec.ts
  agent-projects/web-interface-design/docs/testing-examples/frontend-unit-test-example.tsx
  agent-projects/web-interface-design/docs/testing-examples/integration-test-example.py
  agent-projects/web-interface-design/docs/testing-strategy.md
  game-config/narrative_map.json
  game-config/playable_game.json
  game-config/plot_outline.json
  game-config/prd_document.json
  game-config/puzzle_design.json
  game-config/scene_texts.json
  pyproject.toml
  src/space_hulk_game/config/tasks.yaml
  src/space_hulk_game/demo_game.py
  src/space_hulk_game/py.typed
  test_game_engineer.py
Due: mypy, bandit, yamllint

doc cleanup
  agent-projects/web-interface-design/CONSOLIDATION_SUMMARY.md
  agent-projects/web-interface-design/IMPLEMENTATION_GUIDE_WEB_INTERFACE.md
  agent-projects/web-interface-design/PHASE_1_AGENT_PROMPTS.md
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: yamllint

Update .env.example
  .env.example
Due: none

Update test_docker_setup.sh
  test_docker_setup.sh
Due: none

Update DOCKER_SETUP.md
  DOCKER_SETUP.md
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: none

fix: Update ASCII art title screen for improved formatting and alignment
  src/space_hulk_game/demo_game.py
Due: mypy, bandit

Add test script to frontend package.json
  frontend/package.json
Due: none

Update test script placeholder in package.json
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: yamllint

Sync package-lock.json with package.json dependencies
  frontend/package-lock.json
Due: none

Format frontend code with Prettier
  frontend/src/services/api-examples.tsx
  frontend/src/services/api.ts
  frontend/src/tests/errorHandler.test.ts
Due: none

Add Prettier formatting to Makefile and pre-commit hooks
  .pre-commit-config.yaml
  .yamllint
  Makefile
Due: yamllint

Add git add permission to settings.local.json
  .claude/settings.local.json
Due: none

Update story_service.py
  backend/app/services/story_service.py
Due: mypy, bandit

Update __init__.py
  backend/app/schemas/__init__.py
Due: mypy, bandit

Implement Phase 2 Agent Prompts for Story Library Tasks
  .claude/settings.local.json
  agent-projects/web-interface-design/IMPLEMENTATION_PLAN.md
  agent-projects/web-interface-design/PHASE_1_GAP_ANALYSIS.md
  agent-projects/web-interface-design/PHASE_2_AGENT_PROMPTS.md
Due: none

feat: add Phase 4 and Phase 5 agent prompts for iteration and gameplay tasks
  agent-projects/web-interface-design/PHASE_3_AGENT_PROMPTS.md
  agent-projects/web-interface-design/PHASE_4_AGENT_PROMPTS.md
  agent-projects/web-interface-design/PHASE_5_AGENT_PROMPTS.md
Due: none

feat: update devcontainer configuration and add system dependency installation to setup script
  .devcontainer/devcontainer.json
  package-lock.json
  setup.sh
Due: none

Path conditions:
  mypy: any of: \.py$
  bandit: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
